.editor-footer-positioner {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 50%;
  min-width: 340px;

  .editor-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 4rem;
    box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
    background: var(--editor-footer);

    .exit {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      height: 2.5rem;
      outline: none;
      border: none;
      border-radius: 4px;
      background: none;
      color: var(--text1);
      cursor: pointer;

      &:hover {
        background: var(--slight-layer);
      }

      .arrow-icon {
        margin-left: 0.5rem;
        font-size: 1.25rem;
      }

      span {
        padding-top: 3px;
        font-size: 1.125rem;
      };
    }

    .export {
      button {
        height: 2.5rem;
        font-size: 1.125rem;
        font-weight: 600;
      }

      .temporary-storage {
        background: transparent;
        color: var(--primary1);

        &:hover {
          background: var(--slight-layer);
          color: var(--primary2)
        }
      }

      button + button {
        margin-left: 0.5rem;
      }
    }
  }
}
