@mixin maxWidth1920px {
  @media screen and (max-width: 1920px) {
    width: 1376px;
    .header-fixed {
      .header-content {
        width: 1376px;
      }

      .post-list-nav-bar-container {
        width: 1376px;
      }
    }
  }
}

@mixin maxWidth1440px {
  @media screen and (max-width: 1440px) {
    width: 1024px;
    .header-fixed {
      .header-content {
        width: 1024px;
      }

      .post-list-nav-bar-container {
        width: 1024px;
      }
    }
  }
}

@mixin maxWidth1056px {
  @media screen and (max-width: 1056px) {
    width: calc(100% - 2rem);
    margin: 0 auto;
    .header-fixed {
      margin: 0 auto;

      .header-content {
        width: calc(100% - 2rem);
      }

      .post-list-nav-bar-container {
        width: calc(100% - 2rem);
      }
    }
  }
}

@mixin maxWidth1024px {
  @media screen and (max-width: 1024px) {
    .logo {
      font-size: 1.25rem;
    }
    .right-icons-container {
      .new-post {
        display: none;
      }
    }
  }
}

@mixin minWidth250px {
  @media screen and (max-width: 250px) {
    width: 250px;
    .header-fixed {
      .header-content {
        width: 250px;
      }
      .post-list-nav-bar-container {
        width: 250px;
      }
    }
  }
}

@mixin writeMInWidth1921px {
  @media screen and (min-width: 1921px) {
    width: 100%;
    height: 100vh;
    .editor-container,
    .preview-container {
      width: 50%;
      .editor-body-wrapper {
        padding: 2rem 3rem 4rem 3rem;
      }
    }
  }
}

@mixin writeMaxWidth1920px {
  @media screen and (max-width: 1920px) {
    width: 100%;
    height: 100vh;
    .editor-container,
    .preview-container {
      width: 50%;
      .wrapper {
        padding: 2rem 3rem 4rem 3rem;
      }
    }
  }
}

@mixin writeMaxWidth1024px {
  @media screen and (max-width: 1024px) {
    .editor-container {
      width: 100%;
      height: 100%;
      padding: 2rem 3rem 4rem 3rem;
      .editor-footer-positioner,
      .ql-toolbar.ql-snow {
        left: 0;
        width: 100%;
      }
    }
    .preview-container {
      display: none;
    }
    .upload-modal-container {
      .upload-modal-content {
        width: 704px;
      }
    }
  }
}

@mixin writeMaxWidth768px {
  @media screen and (max-width: 768px) {
    .editor-container {
      padding: 1rem;
      .editor-title {
        height: 43px;
        font-size: 1.8rem;
      }
      .dividing-line {
        margin-top: 1rem;
        margin-bottom: 0.66rem;
      }
      .tag-input {
        padding-bottom: 1rem;
        line-height: 1.5rem;
        font-size: 0.75rem;
      }
      .toolbar-container {
        flex-wrap: unset;
        overflow-x: auto;
        button {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
      .write-zone {
        textarea {
          font-size: 0.875rem;
        }
      }
    }
    .upload-modal-container {
      align-items: flex-start;
      padding: 2rem 1rem;
      overflow: auto;
      .upload-modal-content {
        flex-direction: column;
        .upload-modal-dividing-line {
          display: none;
        }
        .modal-btns-container {
          margin-top: 2rem;
        }
      }
    }
  }
}

//post viewer 반응형
@mixin postViewerMaxWidth1024px {
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 2.25rem;
    }
    h2 {
      font-size: 1.25rem;
    }
  }
}

@mixin postViewerMaxWidth768px {
  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 1rem;
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    h1, h2, h3, h4 {
      margin-bottom: 0.75rem;
    }
  }
}

//detail page 반응형
@mixin detailPageMinWidth1921px {
  @media screen and (min-width: 1921px) {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 4rem;
    .post-area-container {
      .information-container {
        display: none;
      }
    }
  }
}

@mixin detailPageMaxWidth1920px {
  @media screen and (max-width: 1920px) {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 4rem;
    .post-area-container {
      .information-container {
        .like-icon-container {
          display: none;
        }
      }
    }
  }
}

@mixin detailPageMaxWidth1024px {
  @media screen and (max-width: 1024px){
    .post-area-container {
      .post-header-title {
        font-size: 2.25rem;
      }
      .authority-container {
        margin-top: -0.5rem;
        margin-bottom: 1.5rem;
      }
      .information-container {
        display: flex;
      }
      .snb-container {
        display: none;
      }
      .content-container {
        padding: 0 1rem;
        width: 768px;
      }
    }
  }
}

@mixin detailPageMaxWidth768px {
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 0 1rem;

    .information-container,
    .post-area-container {
      .series-container,
      .authority-container {
        font-size: 0.875rem;
      }
    }
  }
}
