body[data-theme='light'] {
  --bg_page1: #F8F9FA;
  --bg_page2: #FFFFFF;
  --element1: #E9ECEF;
  --element2: #F8F9FA;
  --element3: #FFFFFF;
  --element4: #DEE2E6;
  --text1: #212529;
  --text2: #495057;
  --text3: #868E96;
  --text4: #CED4DA;
  --border1: #343A40;
  --border2: #ADB5BD;
  --border3: #DEE2E6;
  --border4: #F1F3F5;
}

body[data-theme='dark'] {
  --bg_page1: #121212;
  --bg_page2: #121212;
  --element1: #1E1E1E;
  --element2: #1E1E1E;
  --element3: #252525;
  --element4: #2E2E2E;
  --text1: #ECECEC;
  --text2: #D9D9D9;
  --text3: #ACACAC;
  --text4: #595959;
  --border1: #E0E0E0;
  --border2: #A0A0A0;
  --border3: #4D4D4D;
  --border4: #2A2A2A;
}

body {
  color: var(--text1);
  background: var(--bg_page1);
  transition: 0.125s all ease-in;
}
