.jdu-nav-brand {
    font-family: "YeongdeokBlueroad";
}

.jdu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 40px;
    margin-right: 0.5rem;
    cursor: pointer;

    svg {
        width: 1.3rem;
        height: 1.3rem;
    }
}

.jdu-btn:hover {
    opacity: 0.5;
}

@keyframes themeChange {
    from {
        width: 10px;
        height: 10px;
        transform: rotate(180deg);
    }
    to {
        width: 24px;
        height: 24px;
    }
}

.theme-mode-change {
    svg {
        animation: themeChange 0.2s linear;
    }
}
