.jdu-nav-brand {
    color: var(--text1);
    transition: 0.125s all ease-in;
    font-family: "YeongdeokBlueroad";
}

.jdu-nav {
    color: var(--text1);
    background: var(--bg-element1);
    transition: 0.125s all ease-in;
}

.jdu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 40px;
    margin-right: 0.5rem;
    cursor: pointer;

    color: var(--text1);
    transition: 0.125s all ease-in;

    svg {
        width: 1.3rem;
        height: 1.3rem;
    }
}

.jdu-btn:hover {
    opacity: 0.5;
}

@keyframes themeChange {
    from {
        width: 10px;
        height: 10px;
        transform: rotate(180deg);
    }
    to {
        width: 24px;
        height: 24px;
    }
}

.theme-mode-change {
    svg {
        animation: themeChange 0.2s linear;
    }
}

.btn-dark {
    color: var(--text1);
    background: var(--element1);
    border-color: var(--border1);
    transition: 0.125s all ease-in;
}
