.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-wrapper {
    display: flex;
    height: 3rem;
    margin-top: 10vh;

    input {
      flex: 1 1 0%;
      padding: 1rem;
      background: var(--bg-element1);
      border: 1px solid var(--border3);
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      color: var(--text1);
      font-size: 1rem;
      outline: none;

      :focus {
        border: 1px solid var(--primary1);
        border-right: none;
      }
    }

    button {
      border-radius: 0 2px 2px 0%;
      width: 6rem;
      height: 100%;
      word-break: keep-all;
    }
  }
}
