.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-wrapper {
    display: flex;
    height: 3rem;

    input {
      flex: 1 1 0%;
      padding: 1rem;
      background: var(--bg-element1);
      border: 1px solid var(--border3);
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      color: var(--text1);
      font-size: 1rem;
      outline: none;

      :focus {
        border: 1px solid var(--primary1);
        border-right: none;
      }
    }

    button {
      border-radius: 0 2px 2px 0%;
      width: 6rem;
      height: 100%;
      word-break: keep-all;
    }
  }

  .auth-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: var(--text3);
    }

    .auth-input {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-left: 0.5rem;
      border-bottom: 1px solid var(--border3);

      :focus {
        border: 1px solid var(--primary1);
      }

      input {
        flex: 1 1 0%;
        background: none;
        border: none;
        color: var(--text1);

        :focus {
          border-bottom: 1px solid var(--primary1);
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      button {
        border-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  .input-wrapper + .auth-wrapper {
    margin-top: 1rem;
  }
}
