.atom-like-btn-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.atom-like-btn-container.row {
  flex-direction: row;
}

.atom-like-btn-container.column {
  flex-direction: column;
}
